/* Estiliza칞칚o geral do site */

/* Define a fonte padr칚o como Arial e remove margens, preenchimentos e bordas */
body {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estiliza칞칚o do HEADER da p치gina */

/* Define o plano de fundo do cabe칞alho como preto */
header {
    background: black;
}

/* Estiliza칞칚o do LOGOTIPO */

/* Define a largura do logotipo como 45% do elemento pai */
.logo {
    width: 25%;
}

/* Estiliza칞칚o do MENU */

/* Posiciona o menu  direita da p치gina e alinha 100px a partir do topo */
nav {
    right: 0;
    position: absolute;
    top: 100px;
}

/* Configura칞칚o dos itens de menu */

/* Exibe os itens de menu em linha e adiciona margem  direita de 15px entre eles */
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

/* Configura칞칚o dos links do menu */

/* Transforma o texto dos links em mai칰sculas, define cor, peso da fonte e tamanho da fonte */
nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* Quando o mouse passa por cima dos links, muda a cor para vermelho e sublinha o texto */
nav a:hover {
    color: red;
    text-decoration: underline;
}

/* Estiliza칞칚o da caixa do logotipo */

/* Define a largura da caixa do logotipo como 940px e centraliza horizontalmente */
.logocaixa {
    width: 940px;
    position: relative;
    margin: auto;
}

/* Estiliza칞칚o do banner */

/* Define a largura do banner como 100% */
.banner {
    width: 100%;
}

/* Estiliza칞칚o da imagem do hamb칰rguer */

/* Define a largura da imagem do hamb칰rguer, alinha  esquerda e adiciona margem  direita */
.hambu {
    width: 200px;
    float: left;
    margin: 0 20px 0 150px;
}

/* Estiliza칞칚o da se칞칚o sobre a hamburgueria */

/* Define o estilo do t칤tulo da se칞칚o, centraliza, define tamanho da fonte */
.titulo-hambu {
    margin: 0;
    clear: left;
    text-align: center;
    font-size: 70px;
    padding-top: 2%;
}

/* Estiliza칞칚o da 치rea sobre a hamburgueria */

/* Define largura, centraliza horizontalmente, adiciona fundo de gradiente */
.area-hambu {
    width: 100%;
    text-align: justify;
    margin: auto;
    background: linear-gradient(blue, #ffffff)    
}
/* T칤tulos - Padr칚o */
.titulo-padrao {
    margin: 0;
    clear: left;
    text-align: center;
    font-size: 70px;
    padding-top: 2%;
}

/* Estiliza칞칚o da sess칚o "Nosso Estabelecimento" (mapa) */
.mapa {
    background: linear-gradient(#ffffff, blue);
}

/* Estiliza칞칚o do par치grafo dentro da sess칚o "Nosso Estabelecimento" */
.mapa p {
    text-align: center;
}

/* Estiliza칞칚o do mapa */
.mapa iframe {
    margin: auto;
    display: block;
}

/* Benef칤cios */
.beneficios {
    background: linear-gradient(blue, #ffffff);
}

/* Conte칰do dos benef칤cios */
.conteudo-beneficios {
    width: 35%;
    margin: 0 auto;
    padding-top: 20px; /*Dist칙ncia da parte de cima da 칰ltima sess칚o*/
}

/* Lista de benef칤cios */
.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    /* Define um caractere especial como marcador de lista (neste caso, um emoji) */
    list-style: '游꾿';
    padding-left: 25%;
}

/* Itens da lista de benef칤cios */
.itens {
    line-height: 1.5;
    color: white;
}

/* Estiliza칞칚o do primeiro item da lista (negrito) */
.itens:first-child {
    font-weight: bold;
}

/* Imagens dos benef칤cios */
.img_beneficios {
    width: 15%;
    /* Adiciona uma sombra  imagem */
    box-shadow: 10px 10px 5px 0px pink;
    opacity: 1;
    /* Efeito de transi칞칚o suave durante 1 segundo ao passar o mouse */
    transition: 1s;
}

/* Efeito de redu칞칚o de opacidade ao passar o mouse nas imagens */
.img_beneficios:hover {
    opacity: 0.7;
}

/* Estiliza칞칚o do video */
.video {
    margin: auto;
    display: block;
}

/* Estiliza칞칚o do Footer */
footer {
    text-align: center;
    background: url("Imagens/fundo2.jpg");
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 12px;
    margin: 20px;
}

.logo_footer{
    width: 20%;
}